@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #d3e86a, #c04f4f, #04384b, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Mochiy Pop One", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heading {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 8vh;
  color: white;
}

.box {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-details {
  border-radius: 30px;
  width: 70vh;
  background: linear-gradient(45deg, #d3e86a, #c04f4f, #04384b, #23d5ab);
  animation: gradient 25s ease infinite;
  background-size: 300% 300%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

input[type="text"] {
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #555;
  width: 100%;
  box-sizing: border-box;
}

h3 {
  color: beige;
  font-size: 1.3rem;
  font-weight: 100;
}
.button {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BMI-button {
  cursor: pointer;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.BMI-button:hover {
  box-shadow: 10px 10px 0px #2a2a2a;
  top: -5px;
  left: -5px;
}

/*Media Queries*/

@media (max-width: 950px) {
  h1 {
    font-size: 6vh;
  }
  .container-details {
    height: 60vh;
    width: 60vh;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 5vh;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3vh;
  }
  h3 {
    font-size: 2.5vh;
  }
  .container-details {
    margin: 5px;
  }
}
